.grid-perfil {
    display: grid;
    padding: 60px 40px;
    align-items: center;
    gap: 100px;
    grid-template-columns: 1fr 2fr;
    max-width: 1200px;
    margin: 0 auto;
}

.foto-do-perfil {
    width: 360px;
}

.apresentacao {
    position: relative;
}

.detalhe-perfil {
    z-index: -1;
    position: absolute;
    top: -25px;
    left: -40px;
}

.titulo-perfil {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 5rem;
}

.texto-perfil {
    margin-top: 30px;
    font-size: 1.5rem;
    color: #525252;
}

